body,
html {
  height: 100%;
}

.columna-juego {
  border: 1px solid black;
}

.fila-juego {
  height: 20vh;
}

.cuadro {
  opacity: 0;
  transition: opacity ease 0.2s;
  border: 1px solid black;
  cursor: pointer;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}

.negro {
  background-color: black;
}

.rosa {
  background-color: pink;
}

.azul {
  background-color: blue;
}

#perdiste {
  display: none;
}
